body {
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

.letter-head {
    margin-bottom: 0;

}

ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: snow;
    text-shadow: 1px 1px 2px black;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightSkyBlue;
    font-size: 1rem;
    flex-wrap: wrap;
}

ul.up li {
    margin-right: 3em ;
}

.name-head {
    margin-left: 3em;
    color: snow;
    text-shadow: 1px 1px 2px black;
}

.intro {
    background-color: floralwhite;
    display: flex;
    justify-content: space-between;
}

.intro-text {
    margin-left: 8rem;
    align-self: center;
    font-size: 1.5rem;
}

.intro-pic {
    align-self: flex-end;
}

@media (max-width: 768px) {
    .intro {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-pic {
        align-self: flex-end;
        width: 100%;
        height: auto;
    }

    .intro-text {
        margin-left: 2rem;
    }
}

h2 {
    font-size: 2rem;
}

p {
    margin: 0;
}

.second-page {
    display: flex;
    justify-content: space-between;
    background-color: ghostwhite;
}

.cyp-and-cyp {
    width: 200%;
    height: auto;
    align-self: center;
}

.text-camomile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
}

.camomile {
    align-self: flex-end;
}

.second-text {
    margin-right: 15rem;
    margin-left: 2rem;
    padding: 2rem;
    background-color: lightskyblue;
    border-radius: 30px;
    font-size: 1.1rem;
}



@media (max-width: 768px) {
    .second-page {
        display: flex;
        flex-direction: column;
    }

    .second-text {
        align-self: center;
        margin: 10px;
        order: 1;
    }

    .cyp-and-cyp {
        order: 3;
        max-width: 100%;
        align-self: center;
    }

    .camomile {
        order: 2;
    }


}