
body {
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(21, 19, 19);
    border-bottom: 0.3vh solid black;
}

.name-head {
    margin-left: 1%;
    color: rgb(235, 229, 229);
    display: flex;
}

.nav-up {
    margin-right: 1%;
    width: 30%;
}

ul.up {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


a.head-link {
    text-decoration: none;
    color: rgb(177, 177, 177);
}

a.head-link:hover {
    color: white;
}

a.head-link:active {
    color: white;

}

.cyp-on-head:hover {
    width: 70px;
    height: 70px;
}


@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


   .nav-up {
    text-align: center;
    font-size: 3.5vw;
    width: 100%;
    margin-right: 18vw;    
    }
    

   ul.up {
    margin: 0;
   }


   h1 {
    margin: 0.3vh;
    }  
   
}
















