.third-text-pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    background-color: powderblue;
}

.third-text {
    width: 50vw;
    background-color: rgb(227, 232, 186);
    border-radius: 20px;
    padding-right: 1vw;
    padding-left: 1vw;
    
}

.first-third, .second-third {
    font-size: 1.4vw;
}

.second-third {
    margin-top: 0;
}

.join-cyp {
    width: 40vw;
    height: auto;
}

.benifits {
    background-color: powderblue;
    display: flex;
    height: 60vh;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.icon {
    text-align: center;
}

.description {
    width: 25vw;
    background-color: white;
    border-radius: 10px;
    padding: 1vw;
}

figcaption {
    font-size: 3vw;
}

.button-block {
    display: flex;
    justify-content: center;
    background-color: powderblue;
    height: 20vh;
}

.button {
    display: block;
    width: 30vw;
    height: 10vh;
    font-size: 3vw;
    background-color: rgb(209, 180, 244);
    border-radius: 10px;
    border: solid 0.3vw black;
    color: black
}

.button:hover {
    border: none;
}

.button:active {
    border: solid 0.2vw rgb(82, 80, 80);
}

@media (max-width: 768px) {
    .third-text-pic {
        flex-direction: column;
    }
    
    .third-text {
        margin-top: 2vh;
        width: 90vw;
    }
    .first-third, .second-third {
        font-size: 4vw;
    }

    .join-cyp {
        width: 85vw;
        margin-top: 2vh;
    }

    .benifits {
        flex-direction: column;
        height: inherit;
        align-items: center;
    }

    .description {
        width: 90vw;
        font-size: 4vw;
    }

    figcaption {
        font-size: 5vw;
    }

    .icon-pic {
        width:20vw;
    }

    .button {
        font-size: 8vw;
        margin-top: 7vh;
        width: 80vw;
    }
}
